body{
  color: $black;
}
h2{
  font-size: 3rem;
  font-family: $displayFont;
  margin: .5rem 0 3rem;
  text-transform: capitalize;
  color: $black;
}

h5{
  color: $titleColor;
  font-size: 0.9rem;
  margin: .5rem 0 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}
  p{
    font-size: 0.8rem;
    color: $paragraphColor;
    line-height: 2;
    margin: .5rem 0 3rem;
    font-weight: 300;
  }
  a{
    transition: all .5s ease-in-out;
    &:hover{
      color: black;
    }

  }
  strong{
    font-weight: 600;
  }
  em{
    font-style:italic;
  }
