#OurStory{
  padding: 100px 0;

  .quote{
    color: $paragraphColor;
    margin: .5rem 0 3rem;
    strong{
      font-weight: 700;
      color: $black;
    }
  }
  .reserve-btn{
    padding: 20px 40px;
    //min-width: 200px;
    display: inline-block;
    border: 1px solid $black;
    text-align: center;
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    font-family: $displayFont;
    transition: all .5s ease-in-out;
    &:hover{
      background: $red;
      color: white;
    }
  }
  .video-img{
    max-width: 4000px;
    height: 550px;
    background: url("https://cdn-images-1.medium.com/max/1920/1*XDjwcMVE0VsFGzdoCEJULA.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right;
    margin: 0 auto;
  }
}
