#OurStory{
  h5{
    color: grey;
    font-size: 1.1rem;
    margin: .5rem 0 1rem;
  }
  h2{
    font-size: 3rem;
    font-family: $displayFont;
    margin: .5rem 0 3rem;
    text-transform: capitalize;
  }
  p{
    font-size: 1.1rem;
    color: grey;
    line-height: 1.8;
    margin: .5rem 0 3rem;
  }
  .quote{
    strong{
      font-weight: 700;
    }
  }
}
