.TopImg{
  background: black;
  height: 500px;
  background: url("https://cdn.vox-cdn.com/thumbor/vVVGv6NnDl8R6vJffI7YRWUesPE=/0x0:5456x3955/1200x900/filters:focal(2292x1542:3164x2414)/cdn.vox-cdn.com/uploads/chorus_image/image/58262539/Compere_Lapin_Dining_Room.0.0.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

}
