$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-xs: "only screen and (min-width: 0px)";
$breakpoint-small: "only screen and (min-width: 451px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
$textFont:'Ubuntu Condensed', sans-serif;
$displayFont:'Dosis', sans-serif;
$titleColor: #AAAAAA;
$greyBG: #F7F7F7;
$paragraphColor: #ADADAD;
$footerBG: #131a22;
$black: #202020;
$green: #4D6010;
$red: #911A20;
